* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

.section {
  width: 100%;
}

.header {
  margin-top: 330px;
}

.top-img-container {
  /* display: flex; */
  position: absolute;
  top: 10px;
  left: 50px;
  margin-bottom: 100px;
  margin-left: 30px;
}

.tech-type {
  font-weight: 700;
  font-size: 0.8rem;
}
