* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fef6e4;
}

.section {
  padding-top: 3.5rem;
  padding-bottom: 5rem;
}

.container {
  width: 90%;
  max-width: 1040px;
  margin-right: auto;
  margin-left: auto;
}
